[submodule "external/cubature"]
	path = external/cubature
	url = https://github.com/stevengj/cubature.git
[submodule "external/GSL"]
	path = external/GSL
	url = https://github.com/Microsoft/GSL
[submodule "external/pcg32"]
	path = external/pcg32
	url = https://github.com/wjakob/pcg32.git
[submodule "external/variant"]
	path = external/variant
	url = https://github.com/mpark/variant.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
