private/


.vscode

# Other stuff
.svn
*.kdev4
*~
.spyderworkspace
.spyderproject
*.kate-swp
*.swp 
*.log
.fuse_*
.ipynb_checkpoints
# Visual Studio
.vs
# Leftover garbage from merges
*.orig
# More Visual Studio stuff
CppProperties.json
#pycharm project files
.idea

#CMake stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Conan Stuff
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Output of debug renders
/*.jpg
/*.png
/*.tga

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
